<div class="cont flex flex-col items-center">

    <div class="mx-auto my-5 py-10">
        <!-- VACIO PARA QUE TENGA ESPACIO -->
        <div class="mx-auto items-center mb-12 pb-9">
            <!-- LISTA DE OPCIONES -->
            <!-- CONFIGURACIONES DE MOSTRAR ALERTAS POP-UP -->
            <!-- <div class="py-2">
                Notificaciones 
            </div> -->
            <div class="py-2">
                <div>
                    <span class="ps-2 text-lg inline-blocks">
                        <!-- poner un svg de icon -->
                        Privacidad
                    </span>
                </div>
            </div>
            <div class="py-2">
                <span class="ps-2 text-lg inline-block">
                    Términos y condiciones
                </span>
            </div>
            <div class="py-2">
                <span class="ps-2 text-lg inline-block">
                    Acerca de pinoTrack
                </span>
            </div>
            <div class="py-2">
                <span class="ps-2 text-lg inline-block">
                    Eliminar cuenta
                </span>
            </div>
            
            <div class="py-2">

            </div>      
        </div>
    </div>
</div>