<div class="cont flex flex-col items-center">

    <div class="mx-auto my-5 py-10">
        <!-- USUARIO DATOS -->
    </div>
        <div class="mx-auto items-center mb-12 pb-9">
            <div class="py-4">
                <span class="ps-2 text-lg inline-block">
                    Privacidad
                </span>
            </div>
            <div class="py-4">
                <span class="ps-2 text-lg inline-block">
                    Ciudad
                </span>

            </div>
            <div class="py-4">
                <span class="ps-2 text-lg inline-block">
                    Visualización mapa
                </span>

            </div>
            <div class="py-4">
                <span class="ps-2 text-lg inline-block">
                    Apariencia
                </span>
            </div>
            <div class="py-4">
                <span class="sp-2 text-lg inline-block">
                    Cerrar sesión
                </span>
            </div>
        </div>
    
</div>